<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <title>Task List</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="chart-card">
            <div class="chart-header">
                <h3 class="chart-title">Customer List</h3>
                <a th:href="@{/create-customer}" class="chart-btn">Create Customer</a>
            </div>
            <div class="table-responsive">
                <table class="table activity-table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="customer, customerStat : ${customers}">
                        <th scope="row" th:text="${customerStat.count}"></th>
                        <td>
                            <a th:href="@{/customer-profile/{id}(id=${customer.id})}">
                                <span th:text="${customer.name}"></span>
                            </a>
                        </td>
                        <td th:text="${customer.email}"></td>
                        <td th:text="${customer.mobile}"></td>
                        <td th:text="${customer.status}"></td>
                        <td>
                            <a><i class="bi bi-eye" ></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>