<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div sec:authorize="isAuthenticated()"
     th:replace="~{common/header::header}">
</div>

<div class="container pt-3">
    <div th:if="${param.success}" >
        <div class="alert alert-info" >
            You have successfully login with Task Manager App
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-3" ></div>
        <div class="col-md-6" >
            <div class="card p-3" >
                <h3 class="mt-r mb-3" >Login Here</h3>
                <form th:action="@{/login}" method="post">

                    <div class="form-group mt-2">
                        <label>Email or Username</label>
                        <input type="text" name="username" class="form-control mt-2" required>
                    </div>

                    <div class="form-group mt-2">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control mt-2" required>
                    </div>

                    <span>Register here ? <a th:href="@{/register}">Register</a></span>
                    <button type="submit" class="btn btn-primary mt-2">Login</button>

                </form>

            </div>
        </div>
        <div class="col-md-3" ></div>


    </div>
</div>





<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>