<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
    <head>
        <title>Customers List</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="chart-card">
                <div class="chart-header">
                    <h3 class="chart-title">Customers List</h3>
                    <button class="chart-btn">View All</button>
                </div>
                <div class="table-responsive">
                    <table class="table activity-table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user, userStat : ${users}">
                            <th scope="row" th:text="${userStat.count}"></th>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.username}"></td>
                            <td><span class="status-badge completed">Action</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>